Repository jakobo/slack-rich-notify: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["yarn lint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

📝 Docs: Updates docs for 2.0.0
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

🐛 Fix: Adds automatic package generation to master on every commit
  .eslintignore
  .prettierignore
  dist/index.js
  package.json
  yarn.lock
Due: yarn lint --fix, prettier --write

✨ Feat: Adds local dumping and a local runner to demonstrate action
  .github/workflows/sample.yml
  action.yml
  dist/index.js
  index.js
Due: yarn lint --fix, prettier --write

🐛 Fix: Updates action yaml
  .github/workflows/sample.yml
Due: none

♻️ Refactor: Cleans up valid prettier files
  .lintstagedrc.json
Due: prettier --write

📝 Docs: Added dry-run and dump options to readme
  README.md
Due: prettier --write

🐛 Fix: Adds pre-evals context dump to help with debugging
  dist/index.js
  index.js
Due: yarn lint --fix, prettier --write

🐛 Fix: Uses context.payload.after for commit range in sample
  .github/workflows/sample.yml
Due: none

🐛 Fix: Adds unshallow for git operation
  .github/workflows/sample.yml
Due: none

♻️ Refactor: Changes fetch-depth to remove need for extra --unshallow
  .github/workflows/sample.yml
  README.md
  dist/index.js
  index.js
Due: yarn lint --fix, prettier --write

📝 Docs: Adds link to demo output for viewing context contents
  README.md
Due: prettier --write

🚀 Release: Releases v2.0.1
  .czrc
  README.md
  package.json
Due: prettier --write

♻️ Refactor: Removes yarn for simplicity of readme/development
  dist/index.js
  package-lock.json
  package.json
  yarn.lock
Due: yarn lint --fix, prettier --write

♻️ Refactor: Cleans up yarn commands to make it easier for dev onboarding
  .github/workflows/test.yml
  .lintstagedrc.json
Due: prettier --write

Updated references to organization name in documentation
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

docs: Applies project name changes
  README.md
Due: prettier --write

chore: Update for developer-owned home
  CHANGELOG.md
  README.md
  commitlint.config.js
  dist/index.js
  package-lock.json
  package.json
Due: yarn lint --fix, prettier --write

chore: Improves lint staged command
  .lintstagedrc.json
Due: prettier --write
